{% include "header.html" %}

<!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script type="text/javascript" src="/static/js/postagenda.js"></script-->

<div id="contents">
<div class="episode">
  
  <h3>Input suggested agenda.</h3>
  <div class="agenda">
      <form action="/add/" method="POST">{% csrf_token %}
      {{ form.as_ul }}
      <input type="submit" value="Submit" />
      </form>
  </div>

  <h3>Agendas</h3>
  <div class="agenda">
    <ul>
      {% for agenda in agendas %}
        {% if agenda.title %}
      <li><a href="{{agenda.url}}" target="_blank">{{agenda.title}}</a></li>
        {% else %}
      <li><a href="{{agenda.url}}" target="_blank">No Title</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>

{% include "footer.html" %}
