<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fika : {{episode.number}} : {{episode.title}}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="/static/css/fikanote.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" type="text/css" />
        <script type="text/javscript" src="/static/js/bootstrap.min.js"></script>
	<script src="/static/fikanote.js"></script>
</head>
<body>

<header id="header-site">
            <div id="header-site-inner">
                <h1 class="title"><a href="/">FikaNote</a> <span class="tagline">Talking about Tech, Software Development and Gadgets with Coffee.</span></h1>
                <nav>
                    <ul>
                        <li><a href="/"><i class="icon-home"></i>Home</a></li>
                        <li><a href="/agenda/"><i class="icon-bolt"></i>Add</a></li>

                        <li><a href="https://itunes.apple.com/jp/podcast/rebuild/id603013428?mt=2"><i class="icon-apple"></i>iTunes</a></li>
                    </ul>
                </nav>
            </div>
        </header>
