
.icon-list-bullet:before { content: '\e801'; } /* '' */
.icon-newspaper:before { content: '\e802'; } /* '' */
.icon-rss:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-trash-empty:before { content: '\e805'; } /* '' */