{% include "header.html" %}

<script type="text/javascript" src="/static/js/csrf_token_ajax.js"></script>
<script type="text/javascript" src="/static/js/spin.min.js"></script>
<script>
function deleteAgenda() {
    if (!window.confirm("Agendaを削除しますか？")) {
        return;
    }
    //use original 'this'
    $.ajax({
        type: 'DELETE',
        url: '/agenda/',
        dataType:'json',
        data: { id: $(this).attr('id') },
        success: function(res) {
            console.log(res);
        }
    });
    $(this).parent().remove();
}

$(document).ready(function() {
    $('#id_url').focus();
    $('#agenda').submit(function() {  // AJAX by submit
        if ($('#id_url').val() === '') {
            return false;
        }

        var url = $('form#agenda').attr('action');
        var data = {url: $('#id_url').val()}
        var spinner = new Spinner( {
          lines: 11 // The number of lines to draw
          , length: 28 // The length of each line
          , width: 14 // The line thickness
          , radius: 42 // The radius of the inner circle
          , scale: 0.25 // Scales overall size of the spinner
          , corners: 1 // Corner roundness (0..1)
          , color: '#000' // #rgb or #rrggbb or array of colors
          , opacity: 0.25 // Opacity of the lines
          , rotate: 0 // The rotation offset
          , direction: 1 // 1: clockwise, -1: counterclockwise
          , speed: 1 // Rounds per second
          , trail: 60 // Afterglow percentage
          , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
          , zIndex: 2e9 // The z-index (defaults to 2000000000)
          , className: 'spinner' // The CSS class to assign to the spinner
          , top: '50%' // Top position relative to parent
          , left: '50%' // Left position relative to parent
          , shadow: false // Whether to render a shadow
          , hwaccel: false // Whether to use hardware acceleration
          , position: 'absolute' // Element positioning
        });
        spinner.spin(document.body);
        $.post(url, data, 'json')
         .done(function(response) {
             $('#agenda_list').prepend('<li><a href="' + response.url + '" target="_blank" class="livepreview"> ' + response.title + '</a><i class="delete-agenda icon-trash-empty" id="' + response.id + '"><span>delete</span></i></li>');
             $('#' + response.id).click(deleteAgenda);
             $('#id_url').val('');
             spinner.spin();
             $('#submit-agenda').prop('disabled', false);
         })
         .fail(function(response) {
             console.warn(response);
             spinner.spin();
             $('#submit-agenda').prop('disabled', false);
         });
         $('#submit-agenda').prop('disabled', true);
        return false;
    });
    $('.delete-agenda').click(deleteAgenda);
});

</script>

<!--script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script type="text/javascript" src="/static/js/postagenda.js"></script-->

<div id="contents">
<div class="episode">

  <h3>Input suggested agenda.</h3>
  <div class="agenda">
      <form id="agenda" action="/agenda/" method="POST">{% csrf_token %}
      {{ form.as_ul }}
      <input id="submit-agenda" class="button button__agenda" type="submit" value="Submit" />
      </form>
  </div>

  <h3>Agendas</h3>
  <div class="agenda">
    <ul id="agenda_list">
      {% for agenda in agendas %}
      <li>
      <a href="{{agenda.url}}" target="_blank" class="livepreview agenda">{{agenda.title|safe|default:"No Title"}}</a>
      <span class="date-agenda">{{agenda.date|date:"Y/m/d"}}</span>
      <i class="delete-agenda icon-trash-empty" id="{{agenda.id}}"><span>delete</span></i>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
</div>

{% include "footer.html" %}
