{% include "header.html" %}

<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.touch-punch.min.js"></script>

  <script>
  $(function() {
    $( "#sortable1, #sortable2" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  });
  </script>

<div id="contents">

  <div class="sortableContainer">
    <span>Agenda</span>
    <ul id="sortable1" class="connectedSortable">
      {% for agenda in agendas %}
      <li class="ui-state-default">
	<a href="{{agenda.url}}" target="_blank">{{agenda.title|safe}}</a>
	<input type="hidden" name="agenda_title" value="{{agenda.title}}" />
	<input type="hidden" name="agenda_url" value="{{agenda.url}}" />
	<input type="hidden" name="agenda_id" value="{{agenda.id}}" />
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="sortableContainer">
    <span>Shownote</span>
    <form action="/shownote/" method="POST">{% csrf_token %}
      <div> title: {{ shownoteform.title }}</div>
      <div> agenda : {{ shownoteform.agenda }}</div>
      <div> person : {{ shownoteform.person }}</div>
      <input class="button button__edit-shownote" type="submit" value="Submit" />

    <ul id="sortable2" class="connectedSortable">
    </ul>
    </form>
  </div>

  <div style="clear: both;"></div>

</div>
{% include "footer.html" %}
